
<ion-header>
  <ion-navbar color="lgblue">
    <ion-title text-center>Customer Data</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
  <p><b>Name:</b> {{data.pname}}</p>
    <p><b>Email: </b>{{data.email}}</p>
     <p><b>Number: </b> {{data.pno}}</p>
       <p><b>Age: </b>{{data.age}}</p>
        <!-- <p><b>Start Date: </b>{{data.date}}</p> -->
      <p><b>End Date: </b>{{data.date2}}</p>
    <p><b>Hours Left: </b>{{hours}}

      <!-- <div [ngStyle]="{'background-color':data.progress === 'Your Task Completed' ? 'orange' : 'green' }"> </div> -->
   <p [ngStyle]="{'color':getColor(data.progress)}"><b>Status:  {{data.progress}}</b></p>
  </ion-item>

</ion-content>
