
<ion-header>
  <ion-navbar color="lgblue">
    <ion-title text-center>Edit Customers Data </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
  <form [formGroup]="validations_form" (ngSubmit)="updateData()">

<!-- For Name Validation-->
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input required type="text" formControlName="pname" [(ngModel)]="data.pname" name="pname" ></ion-input>
    </ion-item>

    <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.pname">
            <div class="error-message" class="colors" *ngIf="validations_form.get('pname').hasError(validation.type) && (validations_form.get('pname').dirty || validations_form.get('pname').touched)">
            <ion-icon icon-only clear name="alert"></ion-icon> {{ validation.message }}
          </div>
      </ng-container>
    </div>

<!-- For Email Validation-->
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input required type="text" formControlName="email" [(ngModel)]="data.email"   ></ion-input>
    </ion-item>

    <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" class="colors" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            <ion-icon icon-only clear name="alert"></ion-icon> {{ validation.message }}
          </div>
      </ng-container>
    </div>

<!-- For Number Validation-->
    <ion-item>
      <ion-label>Number</ion-label>
      <ion-input required type="number" formControlName="pno" [(ngModel)]="data.pno"   ></ion-input>
    </ion-item>

    <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.pno">
            <div class="error-message" class="colors" *ngIf="validations_form.get('pno').hasError(validation.type) && (validations_form.get('pno').dirty || validations_form.get('pno').touched)">
            <ion-icon icon-only clear name="alert"></ion-icon> {{ validation.message }}
          </div>
      </ng-container>
    </div>

<!-- For Age Validation-->
    <ion-item>
      <ion-label>Age</ion-label>
      <ion-input required type="number" formControlName="age" [(ngModel)]="data.age"  ></ion-input>
    </ion-item>

    <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.age">
            <div class="error-message" class="colors" *ngIf="validations_form.get('age').hasError(validation.type) && (validations_form.get('age').dirty || validations_form.get('age').touched)">
            <ion-icon icon-only clear name="alert"></ion-icon> {{ validation.message }}
          </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating>End Date</ion-label>
      <ion-datetime required  formControlName="date2" displayFormat="MM DD YYYY hh:mm"  min="{{datetill}}" [(ngModel)]="data.date2"  pickerFormat="MM DD YYYY hh:mm" ></ion-datetime>
    </ion-item>

    <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.date2">
            <div class="error-message" class="colors" *ngIf="validations_form.get('date2').hasError(validation.type) && (validations_form.get('date2').dirty || validations_form.get('date2').touched)">
            <ion-icon icon-only clear name="alert"></ion-icon> {{ validation.message }}
          </div>
      </ng-container>
    </div><br>

    <ion-input type="hidden" formControlName="rowid" [(ngModel)]="data.rowid" ></ion-input>

    <div align="center">
    <button ion-button type="submit" [disabled]="!validations_form.valid">Update Data</button>
    </div>
  </form>
  </div>
</ion-content>
