<ion-header >
  <ion-navbar color="lgblue">
    <ion-title text-Center>
      Customers Data
    </ion-title>
    <ion-buttons  end>
     <button ion-button icon-only color="darkred" (click)="addData()">
       <ion-icon name="add-circle" style="zoom:1.5;"></ion-icon>
     </button>
     </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let expense of expenses; let i=index" >
      <ion-item button (click)="sendValues(expense.rowid)">
        <p><b>Name:</b> {{expense.pname}}</p>
          <p><b>Number: </b> {{expense.pno}}</p>
             </ion-item>

            <ion-item-options side="right"  >
              <button ion-button color="primary" (click)="editValues(expense.rowid)">
                <ion-icon name="paper"></ion-icon>
                </button>
             <button ion-button color="danger" (click)="showConfirm(expense.rowid)">
          <ion-icon name="trash"></ion-icon>
        </button>
      <button ion-button color="dark" (click)="taskCompletes()">
    <ion-icon name="checkmark-circle"></ion-icon> 
   </button>
  </ion-item-options> 
  </ion-item-sliding>
  </ion-list> 
</ion-content>
